boto3==1.33.8
botocore==1.33.8
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
exceptiongroup==1.2.0
freezegun==1.3.1
google-auth==2.25.1
idna==3.6
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==1.0.1
kubernetes==28.1.0
MarkupSafe==2.1.3
moto==4.2.11
oauthlib==3.2.2
packaging==23.2
pluggy==1.3.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.24.1
rsa==4.9
s3transfer==0.8.2
six==1.16.0
tomli==2.0.1
urllib3==1.26.18
websocket-client==1.7.0
Werkzeug==3.0.1
xmltodict==0.13.0
